USE qlnhanvien
GO
/****** Object:  Table dbo.LoaiHD    Script Date: 05/12/2021 8:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.LoaiHD(
	MaLoaiHD nvarchar(50) NOT NULL,
	TenLoaiHD nvarchar(255) NULL,
 CONSTRAINT PK_LoaiHD PRIMARY KEY CLUSTERED 
(
	MaLoaiHD ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON PRIMARY
) ON PRIMARY

GO
/****** Object:  Table dbo.NhanVien    Script Date: 05/12/2021 8:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.NhanVien(
	MaNV nvarchar(50) NOT NULL,
	Hoten nvarchar(max) NULL,
	Phong nvarchar(50) NULL,
	Luong double NULL,
 CONSTRAINT PK_NhanVien PRIMARY KEY CLUSTERED 
(
	MaNV ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY

GO
/****** Object:  Table dbo.NhanVienBC    Script Date: 05/12/2021 8:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.NhanVienBC(
	MaNV nvarchar(50) NOT NULL,
	Hoten nvarchar(max) NULL,
	Hesoluong double(18, 0) NULL,
	SonamCT int NULL,
 CONSTRAINT PK_NhanVienBC PRIMARY KEY CLUSTERED 
(
	MaNV ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY

GO
/****** Object:  Table dbo.NhanVienHD    Script Date: 05/12/2021 8:42:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.NhanVienHD(
	MaNV nvarchar(50) NOT NULL,
	Hoten nvarchar(max) NULL,
	LuongHD double(18, 0) NULL,
	MaLoaiHD nvarchar(50) NULL,
 CONSTRAINT PK_NhanVienHD PRIMARY KEY CLUSTERED 
(
	MaNV ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY

GO
ALTER TABLE dbo.NhanVien  WITH CHECK ADD  CONSTRAINT FK_NhanVien_NhanVienBC FOREIGN KEY(MaNV)
REFERENCES dbo.NhanVienBC (MaNV)
GO
ALTER TABLE dbo.NhanVien CHECK CONSTRAINT FK_NhanVien_NhanVienBC
GO
ALTER TABLE dbo.NhanVien  WITH CHECK ADD  CONSTRAINT FK_NhanVien_NhanVienHD FOREIGN KEY(MaNV)
REFERENCES dbo.NhanVienHD (MaNV)
GO
ALTER TABLE dbo.NhanVien CHECK CONSTRAINT FK_NhanVien_NhanVienHD
GO
ALTER TABLE dbo.NhanVienHD  WITH CHECK ADD  CONSTRAINT FK_NhanVienHD_LoaiHD FOREIGN KEY(MaLoaiHD)
REFERENCES dbo.LoaiHD (MaLoaiHD)
GO
ALTER TABLE dbo.NhanVienHD CHECK CONSTRAINT FK_NhanVienHD_LoaiHD
GO
